.title {
  color:#ee383b;
  font-weight: bold;
}
.component{
  
}

.covid-table{
  height: 500px;
}

.covid-table::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
    background: transparent;
}

.case-chart{
  // height: 500px;
}