.title {
  color: rgba(255, 92, 0, 0.83);
  font-weight: bold;
}
.component{
  
}

.covid-table{
  height: 700px;
}

.covid-table::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
    background: transparent;
}

.case-chart{
  max-height: 30vh;
}