.geo-chart {
  width: 100%;
  // height: 50vh;
}
.word-cloud {
  width: 100%;
}
// Responsive full-hd
@media screen and (max-width: 2200px) {
  .title-homepage {
    .title-homepage_Sa {
      font-size: 70px;
    }
    .title-homepage_comment {
      font-size: 44px;
      text-align: right;
      line-height: 1;
    }
    .title-homepage_covid {
      text-align: left;
      font-size: 100px;
      color: #ee383b;
      line-height: 1;
    }
  }

  .top-post {
    max-width: 50vw;
  }

  .inputSearch {
    width: 15%;
    border-radius: 20px 0 0 20px;
    border-right: none;
    transition: width 1s;
    &:focus {
      outline: none;
      width: 30%;
    }
  }
  .btnSearch {
    border-radius: 0 20px 20px 0 !important;
    box-shadow: none !important;
    background-color: #e9ecef !important;
    border: 1px solid #ced4da !important;
    border-left: none !important;
    font-weight: bold !important;
    color: #ee383b !important;
    &:focus {
      outline: none !important;
    }
  }
}

@media screen and (max-width: 1500px) {
  .title-homepage {
    .title-homepage_Sa {
      font-size: 45px;
    }
    .title-homepage_comment {
      font-size: 25px;
      text-align: right;
    }
    .title-homepage_covid {
      text-align: left;
      font-size: 60px;
      color: #ee383b;
    }
  }
  .description {
    font-size: 13px;
  }
}

@media screen and (max-width: 1250px) {
  .homepage {
    height: 100%;
    .title-homepage {
      width: 100%;
      .title-homepage_Sa {
        font-size: 35px;
      }
      .title-homepage_comment {
        font-size: 20px;
        text-align: right;
      }
      .title-homepage_covid {
        text-align: left;
        font-size: 55px;
        color: #ee383b;
      }
    }
    .description {
      font-size: 10px;
    }
  }
}

// Responsive Iphone
@media screen and (max-width: 700px) {
  .title-homepage {
    .title-homepage_Sa {
      font-size: 40px !important;
    }
    .title-homepage_comment {
      font-size: 25px;
      text-align: right;
    }
    .title-homepage_covid {
      text-align: left;
      font-size: 60px;
      color: #ee383b;
    }
  }
  .description {
    font-size: 13px;
  }
  
  .no-data-img {
    width: 100vw;
  }
  .title {
    font-size: 30px;
  }

  .component {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .component::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
  }
  .top-post {
    max-width: 100vw;
  }
  .mr-b {
    margin-bottom: 15px !important;
  }

  .inputSearch {
    width: 15%;
    border-radius: 20px 0 0 20px;
    border-right: none;
    transition: width 1s;
    &:focus {
      outline: none;
      width: 71%;
    }
  }
  .btnSearch {
    border-radius: 0 20px 20px 0 !important;
    box-shadow: none !important;
    background-color: #e9ecef !important;
    border: 1px solid #ced4da !important;
    border-left: none !important;
    font-weight: bold !important;
    color: #ee383b !important;
    &:focus {
      outline: none !important;
    }
  }

  .covid-table {
    height: 500px;
  }
}
